<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <display-name>HRWebPrueba2</display-name>
  <servlet>
    <servlet-name>principalServlet</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.principalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>principalServlet</servlet-name>
    <url-pattern>/inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpleadosServlet</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.EmpleadosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpleadosServlet</servlet-name>
    <url-pattern>/Empleados</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PuestoServlet</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.PuestoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PuestoServlet</servlet-name>
    <url-pattern>/Puesto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegionServlet</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.RegionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegionServlet</servlet-name>
    <url-pattern>/Region</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartamentoServlet</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.DepartamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartamentoServlet</servlet-name>
    <url-pattern>/Departamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AltaServlet</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.AltaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaServlet</servlet-name>
    <url-pattern>/registraEmpleado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LocacionServlet</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.LocacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocacionServlet</servlet-name>
    <url-pattern>/Locacion</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PaisServlet</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.PaisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaisServlet</servlet-name>
    <url-pattern>/pais</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FuncionPuesto</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.FuncionPuesto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionPuesto</servlet-name>
    <url-pattern>/funcionPuesto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FuncionRegion</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.FuncionRegion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionRegion</servlet-name>
    <url-pattern>/funcionRegion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FuncionDepartamento</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.FuncionDepartamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionDepartamento</servlet-name>
    <url-pattern>/funcionDepartamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FuncionLocacion</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.FuncionLocacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionLocacion</servlet-name>
    <url-pattern>/funcionLocacion</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>FuncionPais</servlet-name>
    <servlet-class>mx.indexpro.hr.webapp.servlet.FuncionPais</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionPais</servlet-name>
    <url-pattern>/funcionPais</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
</web-app>